/*
Theme Name: GameReview-Child
Theme URI: https://wordpress.org/themes/twentytwentyfour/
Author: Ramandeep Singh
Template: twentytwentyfour
Author URI: https://RamandeepSingh.com
Description: This is the child theme of the game review website
Requires at least: 6.4
Tested up to: 6.6
Requires PHP: 7.0
Version: 1.2
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: twentytwentyfour
Tags: one-column, custom-colors, custom-menu, custom-logo, editor-style, featured-images, full-site-editing, block-patterns, rtl-language-support, sticky-post, threaded-comments, translation-ready, wide-blocks, block-styles, style-variations, accessibility-ready, blog, portfolio, news
*/